<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuanshenbin.basic" >

    <application>
        <activity
            android:name=".ui.activity.PreviewPicturesActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.yuanshenbin.basic.develop.ui.LogDetailActivity"
            android:launchMode="singleTask"
             />

        <activity
            android:name="com.yuanshenbin.basic.develop.ui.LogListActivity"
            android:launchMode="singleTask"
             />

        <activity
            android:name="com.yuanshenbin.basic.develop.ui.DevelopModeActivity"
            android:launchMode="singleTask"
             />

        <activity
            android:name="com.yuanshenbin.basic.develop.ui.SystemApiActivity"
            android:launchMode="singleTask"
            
            android:windowSoftInputMode="stateHidden|stateUnchanged" />

    </application>

</manifest>
